<html>
<head>
	<%= javascript_include_tag :defaults -%>
	<%= javascript_include_tag 'application' -%>
	<%= javascript_include_tag 'drb' -%>
    <%= stylesheet_link_tag 'drb' %>
	
</head>
<body>	
<div id='form'>
<%= form_remote_tag  :url => { :action => "start" } %>
    <%= text_field :task, :url %>
    <%= submit_tag "Start" %>
<% end_form_tag %>
</div>

<div id='updater'>
</div>		

<div id='progressbar' class="progress"></div>
<span id="status"></span>

</body>
</html>