<html>
    <head>
        <title>Uptime</title>
    </head>
    <link rel="stylesheet" href="/stylesheets/layout.css"/>
    <script src="/javascripts/prototype.js"></script>
    <body>
        <div id="hd">
            <img src="/images/header.gif" width="535" height="159" alt="Uptime"/>
        </div>
        <div id="bd">
        
        <%= yield %>
    
        </div>
    </body>
</html>